main #componentDiv1.component {
	<% if ( uiOptn === 'bootstrap' ) { %>
	border-right: 1px dashed $colorBdr-2;
	<% } %>
	height: 100%;
	overflow: hidden;
	padding: $divPadding-medium;
	<% if ( uiOptn === 'bootstrap' ) { %>
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		border-right: none;
		border-bottom: 1px dashed $colorBdr-2;
	}

	@media (max-width: $screen-xs-max) {
		border-right: none;
		border-bottom: 1px dashed $colorBdr-2;
	}
	<% } %>
}  // #componentDiv1.component