<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= site_name %></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- build:js js/libs/libs.min.js -->
	<script type="text/javascript" src="js/libs/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery-ui-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/libs/modernizr.2.8.3.custom.js"></script>
	<!-- /build -->
</head>
<body>
	<div id="container">
		<div id="headerDiv" class="component">
			<h1 id="siteHdr"><%= site_name %></h1>
		</div><!--	#headerDiv -->
		<div id="navDiv" class="component">
			<ul class="navList">
				<li class="navItem">
					<a class="navLink">[link]</a>
				</li>
				<li class="navItem">
					<a class="navLink">[link]</a>
				</li>
				<li class="navItem">
					<a class="navLink">[link]</a>
				</li>
			</ul>
		</div><!-- topnavDiv -->
		<div id="mainDiv">
			<div class="textDiv">
				<h2 id="pageHdr"><%= site_name %></h2>
				<p>This is your scaffolded home page.  Customize as you wish, and refactor styling to suit.</p>
			</div>
			<div id="mastheadDiv" class="component">
				<h3 class="componentHdr">Masthead Component</h3>
			</div><!-- #mastheadDiv -->
			<div id="componentDiv1" class="component">
				<h3 class="componentHdr">Component 1</h3>
			</div>
			<div id="componentDiv2" class="component">
				<h3 class="componentHdr">Component 2</h3>
			</div>
		</div>
		<div id="footerDiv">
			<div id="sitemapDiv" class="component">[sitemap component]</div>
			<p>Project scaffolded with custom Yeoman Generator: https://github.com/tlei123/generator-tze</p>
		</div>
	</div><!-- #containerdiv -->
	<!-- build:js js/main.min.js -->
	<script type="text/javascript" src="js/main.js"></script>
	<!-- /build -->
</body>
</html>
