<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= site_name %></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/libs/respond.min.js"></script>
</head>
<body>
	<div id="container" <% if ( uiOptn === 'bootstrap' ) { %>class="container"<% } %>>
		<header class="component<% if ( uiOptn === 'bootstrap' ) { %> row<% } %>">
			<h1 id="siteHdr"><%= site_name %></h1>
			<nav class="component<% if ( uiOptn === 'bootstrap' ) { %> nav navbar-default row<% } %>">
				<ul class="navList<% if ( uiOptn === 'bootstrap' ) { %> nav navbar-nav<% } %>">
					<li class="navItem">
						<a class="navLink">[link]</a>
					</li>
					<li class="navItem">
						<a class="navLink">[link]</a>
					</li>
					<li class="navItem">
						<a class="navLink">[link]</a>
					</li>
				</ul>
			</nav><!-- nav -->
		</header><!-- header -->

		<main>
			<div class="textDiv<% if ( uiOptn === 'bootstrap' ) { %> row<% } %>">
				<h2 id="pageHdr">Home</h2>
				<p>This is your scaffolded home page.  Customize as you wish, and refactor styling to suit.</p>
			</div>
			<div id="mastheadDiv" class="component<% if ( uiOptn === 'bootstrap' ) { %> row<% } %>">
				<h3 class="componentHdr">Masthead Component</h3>
			</div><!-- #mastheadDiv -->
			<% if ( uiOptn === 'bootstrap' ) { %><div class="row"><% } %>
			<div id="componentDiv1" class="component<% if ( uiOptn === 'bootstrap' ) { %> col-lg-6 col-md-6 col-sm-12<% } %>">
				<h3 class="componentHdr">Component 1</h3>
			</div>
			<div id="componentDiv2" class="component<% if ( uiOptn === 'bootstrap' ) { %> col-lg-6 col-md-6 col-sm-12<% } %>">
				<h3 class="componentHdr">Component 2</h3>
			</div>
			<% if ( uiOptn === 'bootstrap' ) { %></div><% } %>
		</main><!-- main -->

		<footer <% if ( uiOptn === 'bootstrap' ) { %>class="row"<% } %>>
			<div id="sitemapDiv" class="component">[sitemap component]</div>
			<p>Project scaffolded with custom Yeoman Generator: <a href="https://github.com/tlei123/generator-tze" target="_blank" title="generator-tze on GitHub">https://github.com/tlei123/generator-tze</a></p>
		</footer><!-- footer -->
	</div><!-- #container -->

	<!-- build:js js/libs/libs.min.js -->
	<script type="text/javascript" src="js/libs/jquery-<%= jqVersion %>.min.js"></script>
	<% if ( uiOptn === 'jqueryui' ) { %>
	<script type="text/javascript" src="js/libs/jquery-ui-1.11.4.min.js"></script>
	<% } if ( uiOptn === 'bootstrap' ) { %>
	<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/libs/ie-emulation-modes-warning.js"></script>
	<script type="text/javascript" src="js/libs/ie10-viewport-bug-workaround.js"></script>
	<% } %>
	<script type="text/javascript" src="js/libs/modernizr.2.8.3.custom.js"></script>
	<!-- /build -->

	<!-- build:js js/main.min.js -->
	<script type="text/javascript" src="js/main.js"></script>
	<!-- /build -->
</body>
</html>
