<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= site_name %></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="containerDiv">
		<header>
			<h1 class="siteHdr"><%= site_name %></h1>
		</header>
		<nav>
			<ul class="navList">
			</ul>
		</nav>
		<main>
			<h2 class="pageHdr">Homepage</h2>
			<p>This is your scaffolded homepage.</p>
			<section id="section-1">
				<article id="article-1.1">
					<h3>Article 1.1</h3>
					<p>Article content</p>
				</article>
				<article id="article-1.2">
					<h3 class="articleHdr">Article 1.2</h3>
					<p>Article content</p>
				</article>
			</section>
			<section id="section-2">
				<article id="article-2.1">
					<h3>Article 2.1</h3>
					<p>Article content</p>
				</article>
				<article id="article-2.2">
					<h3>Article 2.2</h3>
					<p>Article content</p>
				</article>
			</section>
		</main><!-- main -->
		<footer>
		</footer>
	</div><!-- #containerdiv -->
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
