// ACTUAL STYLING OF HTML ELEMENTS.
// REUSE AS MANY VARS/MIXINS AS POSSIBLE; check _vars.scss and _mixins.scss modules.
// For resonsive layout, put declarations into _responsive.scss module.
// Ideally, the only rules/values explicitly set here  
// should be specific and NON-reusable.
// For rem sizes, leverage xRemSize mixin to include IE8-pixel-fallback.


// OVERALL LAYOUT
html {
	font-size: $fontSize-html;  // Root, pixel-base.
	
	body {
		@include xBoxReset;
		background-color: $colorBg-body;
		font-family: $fontFamily-base;
		@include xRemSize(font-size, $fontSize-body);  // rem w/ IE8-pixel-fallback.

		div {
			@include xBoxReset;
			height: auto;

			> h1:first-child, > h2:first-child, > h3:first-child, > h4:first-child {
				margin-top: 0;
			}

		}  // div, header, nav, main, footer

		#container {
			background-color: $colorBg-container;

		}  // #container

	}  // body

}  // html

// BASIC TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamily-hdrs;
}
p, h4, h5, h6 {
	@include xRemSize(margin-top, .8rem);
	@include xRemSize(font-size, $fontSize-body);
	line-height: 1.3;
}
h3 {
	@include xRemSize(margin-top, .75rem);
	@include xRemSize(font-size, $fontSize-body * 1.25);
}
h2 {
	margin-top: 1rem;
	@include xRemSize(font-size, $fontSize-body * 1.5);
}
h1 {
	@include xRemSize(font-size, $fontSize-body * 1.75);
}


// HEADER STYLING
header {
	border-bottom: 1px solid $colorBdr-1;
	padding: $divPadding-medium;
	padding-top: 0;

	.siteHdr {
		line-height: 1;
	}
	
	nav {

		.navList {
			@include xClearfix;
			list-style: none;

			.navItem {
				display: inline-block;
				@include xRemSize(margin-top, .5rem);
				list-style: none;

			}  // .navItem

		}  // navList

	}  // nav

}  // header


// MAIN STYLING
main {
	// For components INSIDE main, see their respective partials.
	padding: 0;

	.textDiv {
		padding: $divPadding-medium;
	}

}  // main


// FOOTER COMPONENT
footer {
	clear: both;
	border-top: 1px solid $colorBdr-1 !important;
	padding: $divPadding-medium;

	p {
		@include xRemSize(font-size, 1.2rem);
	}
	
}  // footer
