// ACTUAL STYLING OF PAGE/COMPONENT ELEMENTS.
// REUSE AS MANY VARS/MIXINS AS POSSIBLE; check _vars.scss and _mixins.scss modules.
// Ideally, the only rules/values explicitly set here  
// should be NON-reusable.


html {
	font-size: $fontSize-html;
	body {
		@include xBoxReset;
		background-color: $colorBg-body;
		font-size: $fontSize-body;
		div {
			@include xBoxReset;
		}
		#containerDiv {
			background-color: $colorBg-container;
		}
	}
}