// SASS RESPONSIVE-LAYOUT module.
// Dependencies:
// _vars.scss
// _mixins.scss
// Define breakpoints here for major layout elements.
// Minor elements may be made responsive within _page.scss partial.

body {

	@include rbp-small {
		background: none;
	}  // @include rbp-small

	@include rbp-medium {
		background: none;
	}  // @include rbp-medium

	@include rbp-large {

		#container {
			margin-left: auto;
			margin-right: auto;
			width: $containerWidth;
			max-width: $containerWidth;
		}  // #container

	}  // @include rbp-large

}  // body

#componentDiv1 {
	@include rbp-small {
		float: none;
		border-bottom: 1px dashed $colorBdr-2;
		width: 100%;
		padding: $divPadding-medium;
	}

	@include rbp-medium {
		float: left;
		border-right: 1px dashed $colorBdr-2;
		width: 50%;
	}

	@include rbp-large {
		float: left;
		border-right: 1px dashed $colorBdr-2;
		width: 50%;
	}
}

#componentDiv2 {
	@include rbp-small {
		float: none;
		width: 100%;
		padding: $divPadding-medium;
	}

	@include rbp-medium {
		float: left;
		width: 50%;
	}

	@include rbp-large {
		float: left;
		width: 50%;
	}
}