// SASS Variables [REUSE, REUSE, REUSE!!!]
// When you receive a Comp from our CAOR or Creative Team, this _vars.scss module should be where you start.
// Try your best to set as many variables here based on the specs at the beginning of the Comp.
// As you start styling actual page-elements in the _page.scss partial, 
// whenever you start repeating a value more than twice it's time to add a variable here.
// You want to approach your webapp styling as a FRAMEWORK, not just linked stylesheets.

// LAYOUT RESPONSIVE BREAKPOINTS
// Used in _mixins.scss module.
$rbp-small-maxWidth: 480px;
$rbp-medium-minWidth: 481px;
$rbp-medium-maxWidth: 960px;
$rbp-large-minWidth: 961px;

// MAJOR LAYOUT
$containerWidth: 960px;  // Width of actual page area, not body.
$divPadding-large: 20px;
$divPadding-medium: 15px;
$divPadding-small: 10px;


// TYPOGRAPHY
// ALWAYS set html root, pixel-based font-size before any other declarations in your _page.scss partial.
// $containerWidth above levarages $fontSize-html below.
$fontSize-html: 10px;  // Root, pixel-based font-size to support rem-sizes (root-relative em).
$fontSize-body: 1.6rem;  // Base rem-font-size for entire page.
$fontSize-small: 1.2rem;
$fontFamily-base: Arial, Helvetica, sans-serif;  // Non-header family.
$fontFamily-hdrs: 'AurulentBold', Arial, Helvetica, sans-serif;  // Headers family.


// COLORS
$colorBg-body: #555;  // Background-color OUTSIDE page container.
$colorBg-container: #FFF;
$colorBg-1: #333;
$colorBg-2: #000;
$colorBdr-1: #333;
$colorBdr-2: #999;

$colorFont-base: #000;
$colorFont-hdrs: #093;

$colorLink: #000;
$colorLink-visited: #000;
$colorLink-hover: #009;
$colorLink-active: #0F0;
